<div class="main-container">
  <nav class="navbar">
    <ul>
      <li><a (click)="scrollToElement(Home)">Home</a></li>
      <li><a (click)="scrollToElement(Services)">Services</a></li>
      <li><a (click)="scrollToElement(About)">About</a></li>
      <li><a (click)="scrollToElement(Contact)">Contact</a></li>
    </ul>
  </nav>

  <section class="home" #Home >
    <h1>Home</h1>
  </section>
  <section class="services" #Services >
    <h1>Services</h1>
  </section>
  <section class="about" #About >
    <h1>About</h1>
  </section>
  <section class="contact" #Contact>
    <h1>Contact</h1>
  </section>
</div>
<router-outlet></router-outlet>