.main-container {
height: 100vh;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background: rgb(0,0,0,0.6);
}

.navbar ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.navbar ul li {
    margin: 0 1rem;
    font-size: 1rem;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.navbar ul li a:hover {
    color: purple;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}

section h1 {
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    line-height: 1.6;
}

.home{
    background-image: url(https://tonieurg.sirv.com/Images/home-background.jpg);
    background-size: cover;
}

.home-title{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    line-height: 1.6;
    font-size: 7vw;
}

.services{
    background-image: url(https://tonieurg.sirv.com/Images/services-background.jpg);
    background-size: cover;
}

.about{
    background-image: url(https://tonieurg.sirv.com/Images/about-background.jpg);
    background-size: cover;
}

.contact{
    background-image: url(https://tonieurg.sirv.com/Images/contact-background.jpg);
    background-size: cover;
}

.home-container{
    display: flex;
    flex-direction: column;
}

.image-me{
    border: solid 8px;
    border-radius: 50%;
    border-color: purple;
    background: rgb(220,220,220,0.4);
    width: 18vw;
    height: auto;
}

.home-icon-container{
    display: flex;
}


/// MOBILE ///


@media only screen and (max-width: 768px) {
    .image-me{
        border: solid 8px;
        border-radius: 50%;
        border-color: purple;
        background: rgb(220,220,220,0.4);
        width: 48vw;
        height: auto;
    }

    .home-title{
        font-size: 12vw;
    }
    .navbar ul li {
        font-size: 0.8rem;
    }
  }