<div class="main-container">
  <nav class="navbar">
    <ul>
      <li><a (click)="scrollToElement(Home)">Home</a></li>
      <li><a (click)="scrollToElement(Services)">Services</a></li>
      <li><a (click)="scrollToElement(About)">About</a></li>
      <li><a (click)="scrollToElement(Contact)">Contact</a></li>
    </ul>
  </nav>

  <section class="home" #Home>
    <div class="home-container">
      <div class="left-home-container">
        <h1 class="home-title">Hi, I'm Alberto Valerio</h1>
      </div>
      <div class="right-home-container">
        <img class="image-me" src="https://tonieurg.sirv.com/Images/image.webp" width="439" height="396" alt="Alberto Valerio" />
      </div>

      <div class="home-icon-container">
        <div class="left-icon-container">
          <a href="https://stackoverflow.com/users/14246842/alberto-valerio?tab=profile" target="_blank"><img src="https://tonieurg.sirv.com/Images/stackoverflow-4-48.ico" alt="Stack OverFlow" /></a>
        </div>
        <div class="right-icon-container">
          <a href="https://github.com/Avalerio-dev" target="_blank"><img src="https://tonieurg.sirv.com/Images/github-11-48.ico" alt="GitHub" /></a>
        </div>
      </div>

    </div>
    
  </section>
  <section class="services" #Services>
    <h1>Services</h1>
  </section>
  <section class="about" #About>
    <h1>About</h1>
  </section>
  <section class="contact" #Contact>
    <h1>Contact</h1>
    <div class="contact-window-container">
      <div class="window-toolbar">
        <div class="window-button-container">
          <span class="dot" style="background:#ED594A;"></span>
          <span class="dot" style="background:#FDD800;"></span>
          <span class="dot" style="background:#5AC05A;"></span>
        </div>

        <div class="window-toolbar-title">
          Contact
        </div>
      </div>
    
      <div class="contact-window-content">
        <h3>Browser Window</h3>
        <p>Window</p>
      </div>
    </div>
  </section>
</div>
<router-outlet></router-outlet>