.main-container {
height: 100vh;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background: black;
}

.navbar ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.navbar ul li a:hover {
    color: lightblue;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}

section h1 {
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    line-height: 1.6;
}

section#Home{
    background-image: url("https://tonieurg.sirv.com/Images/home-background.jpg");
    background-size: cover;
}

section#Services{
    background-image: url("https://tonieurg.sirv.com/Images/services-background.jpg");
    background-size: cover;
}

section#About{
    background-image: url("https://tonieurg.sirv.com/Images/about-background.jpg");
    background-size: cover;
}

section#Contact{
    background-image: url("https://tonieurg.sirv.com/Images/contact-background.jpg");
    background-size: cover;
}