<div class="main-container">
  <nav class="navbar">
    <ul>
      <li><a (click)="scrollToElement(Home)">Home</a></li>
      <li><a (click)="scrollToElement(Services)">Services</a></li>
      <li><a (click)="scrollToElement(About)">About</a></li>
      <li><a (click)="scrollToElement(Contact)">Contact</a></li>
    </ul>
  </nav>

  <section #Home>
    <h1>Home</h1>
  </section>
  <section #Services>
    <h1>Services</h1>
  </section>
  <section #About>
    <h1>About</h1>
  </section>
  <section #Contact>
    <h1>Contact</h1>
  </section>
</div>
<router-outlet></router-outlet>